
<div class="container">
  <div class="row col-sm-12 col-md-6 offset-3">
  <h1> You just reserve you new chef for <%= @appointments.last.girlfriend.name %></h1>
  <h3><%= @appointments.last.appointment_on %></h3>

</div>

  <div class="row col-sm-12 col-md-6 text-center">
      <%= image_tag @appointments.last.girlfriend.picture (:medium)%>

  </div>
</div>
<div class="text-center">
  <p> <%= link_to 'View all your delivery !', account_dashboard_path %></p>
</div>
