<div class="container">
  <div class="row">
    <div class="text-center">
      <div class="col-md-6">
        <h1><%= @user_name %></h1>
        <h1> Ajouter une image </h1>
      </div>
      <div class="col-md-6">
        <div class="card"> <%= "Your appointments" %> </div>
        <div class="card"> <%= "Your girls" %> </div>
        <div class="card"> <%= "Your historic" %> </div>
      </div>
    </div>
  </div>
</div>
