<h1 class="text-center">All your girlfriends</h1>

<div class="container" >
    <% current_user.girlfriends.each do |girlfriend| %>
      <div class="col-sm-12 col-md-6 col-lg-4">
      <%= render "account/girlfriends/cardacc", girlfriend: girlfriend %>
      </div>
    <% end %>
</div>

