<div class='text-center'>

  <div class="banner">
    <div class="banner-shadow"></div>
    <div class="content text-center" data-sr='enter top'>
      <h1> Pick your girl </h1>
      <h3> Welcome to our cheaters community </h3>
    </div>
  </div>

  <h2>Girlfriends</h2>

  <div class="container">
    <% @girlfriends.each do |girlfriend| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card text-center" >
          <span class="card-shadow"></span>
          <span class="card-text card-bg">
            <h2><%= girlfriend.name %></h2>
            <p><%= girlfriend.location %></p>
          </span>
        </div>
      </div>
    <%end %>
  </div>
</div>





