<div class="card">
  <div class="card-bg" style="background-image:url(<%= girlfriend.picture.url%>)"></div>
  <span class="card-gradient"></span>
   <span class="card-text">
    <h2><%= girlfriend.name %></h2>
  </span>
  <%= link_to '', girlfriend_path(girlfriend), class: "card-link" %>
</div>
