.banner {
  background-image: image_url("bannerpic.jpeg");
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
}

.banner-shadow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.content {
  padding: 100px;
  color: white;
  z-index: 2;
  position: relative;
}


.embed-container {
  position: relative;
  padding-bottom: 33.25%;
  padding-top: 58px;
  height: 0;
  overflow: hidden;
  width: 100%;
  height: auto;
  margin-bottom: 12px;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}
