<footer>
  <ul class="text-center social-links list-inline">
    <li>
      <%= link_to 'http://twitter.com/TheoLemaitre' do %>
      <i class="fa fa-instagram"></i>
      <% end %>
    </li>
    <li>
      <%= link_to 'http://facebook.com/theolemaitre' do %>
      <i class="fa fa-facebook"></i>
      <% end %>
    </li>
  </ul>
  <br>
  <p class="credits">
    Made with <i class="fa fa-heart"></i> at Le Wagon
  </p>
</footer>
